
<section class="no-feeds">
    <p class="no-feeds__message">You aren’t subscribed to any feeds, get started with one of the options below 👇</p>


    <div class="no-feeds__options">
        <LinkTo @route="new-collection" class="no-feeds__option">
            <Icon::Plus/>
            Start a new collection
        </LinkTo>

        <span class="no-feeds__divider"></span>

        <LinkTo @route="browse" class="no-feeds__option">
            <Icon::Browse/>
            Browse user curated collections
        </LinkTo>
    </div>
</section>