@import "./components/all";
@import "./templates/all";
@import "icons";
@import "variables";

html,
body {
  margin: 0;
  padding: 0;

  font-family: "IBM Plex Sans", sans-serif;
}

body {
  /*CSS Custom Properties*/

  /* Sizes*/
  --fontsize-heading: 1em;
  --fontsize-menu-heading: 1.2em;
  --fontsize-body: 0.8em;
  --fontsize-sub-text: 0.6em;

  /* Colours*/
  --colour-background: #fff;
  --colour-text: #2c3e50;
  --colour-highlight: #e67e22;
  --colour-cta: #27ae60;
  --colour-cta-text: #fff;

  @media (min-width: $brk-small) {
    --fontsize-heading: 1.2em;
    --fontsize-body: 1em;
    --fontsize-sub-text: 0.8em;
    --fontsize-menu-heading: 1.4em;
  }

  @media (min-width: $brk-medium) {
    --fontsize-heading: 1.4em;
    --fontsize-body: 1.2em;
    --fontsize-sub-text: 1em;
    --fontsize-menu-heading: 1.6em;
  }

  /*Global Styles*/
  display: flex;
  color: var(--colour-text);
  background-color: var(--colour-background);
  padding: 20px;
  overflow-y: scroll; //Always show the horizontal scrollbar to stop layout jumps
}

body a {
  color: var(--colour-text);
  text-decoration: none;
  font-weight: 500;

  &:hover {
    color: var(--colour-highlight);
  }
}

body.menu-open,
html.menu-open {
  overflow: hidden;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  margin: 0 auto;
  margin-top: 80px;
}
