.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--colour-background);
  transform: translateX(-1000px);
  transition: transform 0.35s ease-in-out;
  margin-top: 50px;
}

.menu--open {
  transform: translateX(0);
}

.menu__options {
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.menu__navigation {
  display: flex;
  padding: 20px;
}
