@import "../mixins";

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--colour-background);
  transform: translateX(-1000px);
  transition: transform 0.35s ease-in-out;
  margin-top: 50px;
}

.menu--open {
  transform: translateX(0);
  overflow-y: scroll;
}

.menu__options {
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  width: calc(100% - 40px); //Full width, allowing for overall page padding.
}

.menu__toggle-button {
  @include reset-button-styles();
}

.menu__navigation {
  display: flex;
  padding: 20px;
}

.menu__sections:last-child {
  margin-bottom: 50px;
}

.menu__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  h1 {
    font-size: var(--fontsize-menu-heading);
  }
}

.menu__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;

  svg {
    margin-right: 5px;
  }
}

.menu__collections {
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style: none;
  padding: 0;
}

.menu__collection {
  margin-top: 10px;
  margin-bottom: 10px;
}
